*{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    color: #131313;
    font-size: 16px;
    line-height: 28px;
}

a{
    text-decoration: none;
    color: #131313;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo-mg{
    display: flex;
}

.logo-icon{
    width: 100%;
    margin-right: 5px;
}

.icon-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 33px;
    line-height: 30px;
    font-style: normal;
    text-transform: uppercase;
    color: #778CEB;
}

.orange{
    color: #FFB27D;
}

.loho-text{
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #000;
}

.logo-phone{
    display: flex;
    align-items: center;
}

.phone-icon{
    margin-right: 10px;
}

.phone-link{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.logo-location{
    display: flex;
    align-items: center;
}

.location-icon{
    margin-right: 10px;
}

.laction-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.button{
    border-radius: 60px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
}

.header-button{
    background: #FFB27D;
    border: 1px solid #FFB27D;
    padding: 5px 24px;
}

.modal-form-title{
    font-weight: 500;
    font-size: 38px;
    line-height: 52px;
    margin-bottom: 5px;
}

.modal-form-description, .modal-checkbox-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #4F4F4F;
}

.modal-form-label{
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.modal-form-button{
    background: #778CEB;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    padding: 15px 87px;
    border: none;
}

.main{
    background: #F6FAFF;
}

.main-inner{
    display: flex;
    padding-top: 40px;
    padding-bottom: 108px;
}

.main-order{
    background: #FFFFFF;
    border-radius: 40px;
    margin-right: 20px;
}

.order-inner{
    padding: 40px;
    max-width: 456px;
}

.form-title{
    font-weight: 500;
    font-size: 38px;
    line-height: 52px;
    margin-bottom: 5px;
}

.form-subtilte{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #4F4F4F;
}

.callback{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.callback-icon{
    margin-right: 10px;
}

.callback-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #4F4F4F;
}

.main-form-row{
    margin-bottom: 35px !important;
}

.main-form-label{
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.main-form-input{
    padding: 16px 25px;
    background: #F5F5F5;
    border-radius: 10px;
    border: none;
    color: #99A8ED;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
}

.main-form-checkbox{
    margin-bottom: 20px !important;
    padding-left: 0;
}

.main-checkbox-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #9F9F9F;
    max-width: 260px;
}

.main-form-button{
    background: #778CEB;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    padding: 15px 87px;
    border: none;
}

.main-form-input::placeholder{
    color: #99A8ED;
}

.main-banner{
    background-image: url(../img/main-banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    min-width: 802px;
}

.banner-content{
    padding: 50px 60px;
}

.banner-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;
    color: #121212;
}

.banner-title{
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
    color: #121212;
    margin-bottom: 25px;
    max-width: 635px;
}

.banner-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    max-width: 363px;
}

.sale{
    margin-top: -90px;
    margin-bottom: 118px;
}

.sale-inner{
    background: #FFEBEB;
    border-radius: 40px;
}

.sale-content{
    display: flex;
    align-items: center;
    padding: 15px 50px;
}

.sale-text{
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 45px;
    max-width: 764px;
    margin-right: 20px;
}

.s-purple{
    color: #ED145B;
}

.sale-button{
    background: #ED145B;
    border: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding: 16px 45px;
    cursor: pointer;
}

.banner-icon{
    width: 100%;
}

.subtitle{
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
}

.reasons{
    margin-bottom: 28px;
}

.reasons-title{
    margin-bottom: 15px;
}

.reasons-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 80px;
}

.reasons-plates{
    display: flex;
}

.plate-item{
    width: 25%;
    border-radius: 40px;
    margin-right: 20px;
    text-align: center;
}

.salad{
    background: #EEFDD7;
}

.cream{
    background: #FDE9D2;
}

.purple{
    background: #E4E9FF;
}

.maline{
    background: #FFEBEB;
}

.plate-item-inner{
    padding: 35px;
}

.plate-icon{
    max-height: 103px;
}

.plate-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.plate-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.plans{
    margin-bottom: 100px;
}

.plans-inner{
    background: #F6FAFF;
    border-radius: 60px;
}

.plans-content{
    display: flex;
    align-items: center;
    padding: 35px;
}

.plans-info{
    margin-right: 35px;
}

.plans-title{
    text-align: left;
    margin-bottom: 20px;
}

.plans-text{
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 20px;
}

.plans-alert{
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #4F4F4F;
}

.plans-banner{
    border-radius: 40px;
}

.slick-prev, .slick-next{
    display: none !important;
}

.brands{
    margin-bottom: 200px;
}

.brands-title{
    margin-bottom: 70px;
}

.problems{
    background: #E4E9FF;
    margin-bottom: 100px;
}

.problems-inner{
    padding: 80px 85px;
}

.problems-title{
    margin-bottom: 15px;
}

.problems-text{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    max-width: 712px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.problems-cards{
    display: flex;
    justify-content: space-between;
}

.problems-cards-item{
    width: 33%;
    margin-right: 18px;
    border-radius: 40px;
}

.problems-cards-item:last-child{
    margin-right: 0;
}

.top-cards-img{
    width: 100%;
}

.problems-cards-bottom{
    background-color: #fff;
    margin-top: -6px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.bottom-cards-inner{
    padding: 25px;
}

.cards-title{
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 15px;
}

.cards-list{
    margin-bottom: 25px;
}

.cards-list-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-item-icon{
    margin-right: 15px;
}

.card-item-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.top-cards-img{
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.problems-button{
    background: #778CEB;
    padding: 15px 35px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
}

.problems-button:hover{
    color: #fff;
}

.connect-inner{
    background-image: url(../img/connect-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 40px;
}

.connect{
    margin-bottom: 100px;
}

.connect-content{
    padding: 70px 50px;
}

.connect-title{
    text-align: left;
    margin-bottom: 15px;
}

.connect-text, .connect-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.connect-description{
    margin-bottom: 35px;
}

.connect-form-input{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 16px 25px;
    border: none;
}

.connect-form-label{
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.connect-form-input::placeholder{
    color: #99A8ED;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
}

.col-4{
    width: auto !important;
}

.connect-form-row{
    margin-right: 25px;
}

.connect-form-button{
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    padding: 15px 60px;
    background: #ED145B;
    border: none;
    margin-top: 30px;
}

.cost{
    margin-bottom: 200px;
}

.cost-title{
    margin-bottom: 100px;
}

.cost-content{
    display: flex;
    align-items: center;
}

.cost-info{
    width: 50%;
    margin-right: 85px;
}

.cost-info-title{
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 40px;
}

.cost-info-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 25px;
    color: #4F4F4F;
}

.cost-banner{
    width: 50%;
}

.price{
    margin-bottom: 100px;
}

.price-title{
    text-align: left;
    margin-bottom: 60px;
}

.price-content{
    display: flex;
}

.price-info{
    width: 75%;
    background: #FAFAFA;
    border-radius: 40px;
}

.price-info-inner{
    padding: 40px;
}

.price-info-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4F4F4F;
    margin-bottom: 25px;
}

.feedback{
    margin-bottom: 200px;
}

.feedback-title{
    margin-bottom: 15px;
}

.feedback-description{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 70px;
}

.f-purple{
    color: #778CEB;
}

.feedback-slider-item{
    width: 50%;
    background: #F6FAFF;
    border-radius: 40px;
    margin-right: 25px;
}

.feedback-item-wrapper{
    padding: 42px;
}

.feedback-item-title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 10px;
    max-width: 350px;
}

.feedback-slider-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 35px;
}

.feedback-person{
    display: flex;
    align-items: center;
}

.person-photo{
    margin-right: 20px;
}

.person-info{
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
}

.person-name{
    margin-bottom: 5px;
}

.person-date{
    color: #828282;
}


.footer-inner{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.footer-content{
    width: 40%;
}

.content-title{
    text-align: left;
    margin-bottom: 40px;
}

.footer-phone{
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    color: #131313;
    margin-bottom: 5px;
}

.footer-callback{
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    color: #ED145B;
    margin-bottom: 20px;
}

.footer-drive{
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
}

.footer-time{
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 25px;
}

.footer-form-inner{
    width: 60%;
    background: #E4E9FF;
    border-radius: 40px;
}

.footer-form-wrapper{
    padding: 70px 50px;
}

.footer-form-title{
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 15px;
}

.footer-form-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 35px;
}

.footer-form-label{
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.footer-form-input{
    padding: 16px 25px;
    background: #FFFFFF;
    border-radius: 10px;
}

.footer-form-input::placeholder{
    color: #99A8ED;
}

.footer-checkbox-text{
    color: #9F9F9F;
}

.footer-form-button{
    padding: 16px 60px;
    background: #ED145B;
    border-radius: 60px;
    border: none;
}

@media (max-width:375px){
    .logo-icon{
        margin-right: 0;
    }
    
    .icon-text{
        display: none;
    }

    .loho-text{
        display: none;
    }

    .phone-link{
        font-size: 12px;
    }

    .logo-location{
        display: none;
    }

    .header-button{
        font-size: 10px;
        padding: 5px 15px;
    }

    .main{
        margin-bottom: 30px;
    }

    .main-inner{
        flex-direction: column-reverse;
    }

    .main-order{
        margin-right: 0;
    }

    .order-inner{
        padding: 30px;
    }

    .main-banner{
        min-width: 100%;
        margin-bottom: 15px;
    }

    .banner-content{
        padding: 30px;
    }

    .banner-title{
        font-size: 25px;
        font-weight: 500;
    }

    .banner-description{
        font-size: 14px;
        max-width: 100%;
    }

    .form-title{
        font-size: 28px;
    }

    .form-subtilte, .callback-text{
        font-size: 14px;
    }

    .main-form-input::placeholder{
        font-size: 15px;
    }

    .sale{
        margin-bottom: 80px;
    }

    .sale-text{
        margin-right: 0;
        max-width: 100%;
        font-size: 25px;
    }

    .sale-content{
        padding: 20px;
    }

    .sale-banner{
        display: none;
    }

    .reasons{
        margin-bottom: 50px
    }

    .reasons-title{
        font-size: 28px;
        font-weight: 500;
        line-height: 34px;
    }

    .reasons-text{
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 50px;
    }

    .plate-item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .plate-title{
        font-weight: 500;
    }

    .reasons-plates{
        flex-direction: column;
    }

    .plans{
        margin-bottom: 80px;
    }

    .plans-content{
        flex-direction: column;
        padding: 44px 20px;
    }

    .plans-info{
        margin-right: 0;
        margin-bottom: 30px;
    }

    .plans-title{
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
    }

    .plans-text{
        font-weight: 500;
        font-size: 15px;
        line-height: 28px;
    }

    .plans-alert{
        font-size: 14px;
    }

    .plans-banner-img{
        width: 100%;
    }

    .brands{
        margin-bottom: 80px;
    }

    .brands-title{
        font-size: 28px;
        line-height: 34px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .brands-slider-icon{
        margin: 0 auto;
    }

    .problems{
        margin-bottom: 80px;
    }

    .problems-inner{
        padding: 80px 15px;
    }

    .problems-title{     
        font-size: 28px;
        line-height: 34px;
        font-weight: 500;
    }

    .problems-text{
        font-size: 14px;
        line-height: 24px;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .problems-cards{
        flex-direction: column;
    }

    .problems-cards-item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .connect{
        margin-bottom: 80px;
    }

    .connect-content{
        padding: 40px 20px;
    }

    .connect-title{
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 10px;
    }

    .connect-text, .connect-description{
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }

    .connect-form-row{
        margin-right: 0;
        width: 100% !important;
    }

    .connect-form-button{
        background: #778CEB;
        width: 100%;
    }

    .cost{
        margin-bottom: 80px;
    }

    .cost-inner{
        padding-left: 15px;
        padding-right: 15px;
    }

    .cost-title{
        display: none;
    }

    .cost-content{
        flex-direction: column;
    }

    .cost-info{
        width: 100%;
        margin-right: 0;
    }

    .cost-info-title{
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
    }

    .cost-info-text{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    .cost-banner, .cost-banner-img{
        width: 100%;
    }

    .price{
        margin-bottom: 80px;
    }

    .price-title{
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
    }

    .price-content{
        flex-direction: column;
    }

    .price-info{
        width: 100%;
    }

    .price-info-inner{
        padding: 40px 25px;
    }

    .feedback{
        margin-bottom: 80px;
    }

    .feedback-title{
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
    }

    .feedback-description{
        margin-bottom: 20px;
    }

    .feedback-slider-item{
        width: 100%;
        margin-right: 0;
    }

    .feedback-item-title{
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        max-width: 100%;
    }

    .footer-inner{
        flex-direction: column;
        padding-bottom: 110px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .footer-content{
        width: 100%;
    }

    .content-title{
        font-weight: 500;
    }

    .footer-form-inner{
        display: none;
    }













}